html{
    scroll-behavior: smooth;
}
body{
    font-family:'Poppins', sans-serif;
    overflow-x: hidden;
}
.name{
    color: #1B455B;
    font-size: 20px;
    font-weight: 600;
}
.container{
    width: 100%;
}
.container nav{
    width: 100%;
}
.navigate{
    display: flex;
    flex-direction: row;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}
.btn-login{
    background-color: #FF9E00;
    color: white;
    font-size: 18px;
    font-family: 'Poppins';
    border-radius: 16px;
    padding: 12px 53px;
}
#info{
    margin-top:8px;
    font-weight:500;
    font-size:16px;
}
.menu{
    cursor: pointer;
}
.menu:active{
    font-weight: 600;
}
.hero-heading{
    font-size: 64px;
    padding: 10px;
    line-height: 84px;
    font-weight: 600;
    font-style: bold;
    text-align: center;
}
.sub{
    font-weight:400;
}
.growth{
    font-size: 64px;
}
.hamburger{
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.input-email::placeholder{
    color: #D9D9D9;
}
.about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-about-inner{
    width: 100%;
    display: flex;
    align-items: center;
}
.hero {
  position: relative;
  min-height: 80vh;
  background: url('images/Rectangle\ 36.png') no-repeat center bottom;
  background-size: contain; /* or cover depending on design */
}
.why {
  position: relative;
  min-height: 120vh;
  background-image: url('images/Vector 24.png'), url('images/Ellipse857.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center ; 
  background-size: contain, cover;
  padding-bottom: 1em;
  z-index: 0;
}
.why::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10%; 
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  background: url('/images/Big\ Shoes\ Dynamic\ Pose.png') no-repeat left bottom;
  background-size: contain;
  z-index: -1;
  background-size: 600px;
}

.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10%; 
  height: auto;
  aspect-ratio: 1/1;
  background: url('/images/illustration.png') no-repeat left bottom;
  background-size: contain; /* keeps proportions */
  z-index: 0;
}

#aboutInner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.about-hero{
    width: 100%;
    text-align: center;
}
#about-heading{
    padding: 0;
    margin: 0;
}
.why{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
    padding-left: 3em;
}
.why .card{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 527px;
    padding: 1.5em 2px;
    background-color: white;
    border-radius: 32px;
}
.cards h2{
    font-size: 32px;
}
.cards p{
    font-size: 20px;
}
.button-container{
    display: flex;
    justify-content: right;
}
/* .cta-primary{
    margin-right: 60px;
} */
.icon1{background: #38B0002B; width: 44px; height: 44px;border-radius: 22px;
display: flex;
align-items: center;
justify-content: center;} 
.icon2{background: #FFE1B0; width: 44px; height: 44px;border-radius: 22px;
display: flex;
align-items: center;
justify-content: center;} 
.icon3{background: rgb(254, 204, 212); width: 44px; height: 44px;border-radius: 22px;
display: flex;
align-items: center;
justify-content: center;} 
.icon4{
    background: #24b3ff33; 
    width: 44px; 
    height: 44px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 1em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: linear-gradient(to bottom, #1B455B 0%, #3992C1C7 78%);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 4em 0;
}
.feature-cards{
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4em;
}
.feature-card {
    width: 90vw;
    background: inherit;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.image{
    width: 64%;
    background-color: #BACBD3;
    border: 8px solid #BACBD3;
    display: flex;
    border-radius: 32px;
}
.image img{
    width: 100%;
    border-radius: 25px;
    height: 100%;
}
.feature-content{
    width: 34%;
    padding-bottom: 2em;
}
.feature-content img{
    width: 24%;
    height: auto;
}
.feature-content p{
    font-size: 20px;
}

@media (max-width: 768px) {
    .hero::before {
    left: 0;
    width: 100%;
    }
    .why::before {
    left: 0;
    width: 100%;
    max-width: 100%;   
    background-size: contain;
    }
    .container{
        width: 100%;
    }
    .btn-login{
    padding: 12px 20px;
    }
    .growth{
        font-size: 40px;
    }
    .hero{grid-template-columns:1fr}
    .nav-links{display: none;}
    .about-inner{grid-template-columns:1fr 480px;gap:36px}
    .why{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .why .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .cards{
        width: 85vw;
        padding: 1em;
    }
    #hero-heading{
        text-align: center;
        font-size: 45px;
        line-height: 50px;
    }
    .sub{
        font-size: 16px;
        width: 90vw;
    }
    .hamburger{
        display: block;
        margin-right: 10px;
    }
    .nav-links.active{
        display: flex;
    }
    .nav-links{
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        flex-direction: column;
        width: 200px;
        display: none;
        padding: 1rem;
        background: rgba(211, 211, 211, 0.2);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: #1B455B;
    }
    .hero-form{
        display: flex;
        flex-direction: column;
    }
    .input-email{
        width: 90%;
        padding: 10px 0;
        padding-bottom: 20px;
    }
    .about-hero{
    width: 100%;
    }
    .cover-image{
        width: 00%; 
        height: auto;
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("images/Big\ Shoes\ Hero.png")
    }
    #info{
        color: grey;
        font-size: 10px;
        padding-top: 10px;
    }
    .feature-card {
        flex-direction: column;
        align-items: center;
    }
    .right{
        display: flex;
        flex-direction: column-reverse;
    }
        .image{
        width: 100%;
    }
    .feature-content{
        width: 100%;
    }
}